@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
}

html,
body {
    font-family: "Montserrat", serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #ccc;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

.login-container .login-button {
    width: 100%;
    padding: 10px;
    background-color: #1e90ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container .login-button:hover {
    background-color: #007acc;
}

.error-message {
    color: #ff6b6b;
    margin-bottom: 15px;
}

.login-container p {
    color: #ccc;
}

.login-container a {
    color: #1e90ff;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}